body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,#ff758c,#ff7eb3);
    font-family: arail,sans-serif;
    text-align: center;
    margin: 0;

}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgbs(p, 0, 0, 0.2);
}
h1 {
    font-size: 24px;
    color: #333;
}
button {
    margin-top: 10px;
    padding: 10px,20px;
    border: none;
    background: #ff3e6b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #ff2a5f;
}